<div>
    <header class="site-header" style="background-image: url('{{ site.banner | escape | prepend: "/assets/img/" | relative_url  }}');">
        <div class="banner">
            <div class="img-container">
                {% if site.logo %}
                    <img alt="logo" src="{{ site.logo | escape | prepend: "/assets/img/" | relative_url }}"/>
                {% endif %}
            </div>
        </div>

        <div class="wrapper">
            <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

            {%- if page.year == 2024 -%}
                <!-- Specific styles and content for the year 2024 -->
                <link rel="stylesheet" href="styles-2024.css">
                <!-- Additional content or scripts for 2024 -->
            {%- elsif page.year == 2023 -%}
                <!-- Specific styles and content for the year 2023 -->
                <link rel="stylesheet" href="styles-2023.css">
                <!-- Additional content or scripts for 2023 -->
            {%- endif -%}

            {%- assign default_paths = site.pages | map: "path" -%}
            {%- assign page_paths = site.header_pages | default: default_paths -%}
            {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
            <nav class="site-nav">
                <input type="checkbox" id="nav-trigger" class="nav-trigger" />
                <label for="nav-trigger">
                    <span class="menu-icon">
                        <!-- Menu icon SVG code -->
                    </span>
                </label>

                <div class="trigger">
                    {%- for path in page_paths -%}
                        {%- assign my_page = site.pages | where: "path", path | first -%}
                        {%- if my_page.title -%}
                            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            </nav>
        </div>
    </header>
</div>
